.logo {
    margin-top: 10px;
}

.logo-mobile {
    display: block;
}

.logo-full {
    display: none;
}

@media (min-width: 1024px) {

    .logo-mobile {
        display: none;
    }
    
    .logo-full {
        display: block;
    }
}

.buttons-header {
    display: flex;
    justify-content: space-around;
}

.mat-stroked-button {
    text-transform: uppercase;
    font-size: 14px;
    width: 124px;
    border-radius: 2px;
}

.button-header-entrar {
    color: #2196F3;
    margin-right: 20px;
}

.button-header-cadastrar {
    color: white;
    background-color: #1767E5;
}
