<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo">
        <a class="logo-full" href="/"><img src="../../../assets/logos/logo-name-mobile@2x.png" alt="Banner"/></a>
        <a class="logo-mobile" href="/"><img src="../../../assets/logos/logo-mobile@2x.png" alt="Banner"/></a>
    </div>
    <div class="buttons-header">
        <a href="/login" class="button-header-entrar" mat-stroked-button>Entrar</a>
        <a href="/login" class="button-header-cadastrar" mat-stroked-button>Cadastre-se</a>
    </div>
</mat-toolbar>