<div class="content-login" fxLayout="column" fxLayoutAlign="space-around center">
    <a href="/" class="logo">
        <img src="../../../assets/logos/logo-white.png" alt="SimSave Logo">
    </a>
    <div class="form-login" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div>
            <p class="title-login-card">Entrar na plataforma</p>
        </div>

        <div>
            <p class="descricao-login-card">Digite seu e-mail e senha abaixo para entrar na plataforma.</p>
        </div>

        <form fxLayout="column" fxLayoutAlign="center center" class="form">
            <div>
                <mat-form-field>
                    <input matInput placeholder="Nome">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput placeholder="Senha">
                </mat-form-field>
            </div>
            <div>
                <a href="/" class="button-entrar" mat-raised-button>Entrar</a>
            </div>
        </form>
    </div>
</div>
