<div fxLayout="column" fxLayoutAlign="center center" >
    
    <div class="retangulo-footer">_</div>

    <div class="card-footer">
        <mat-card fxLayout="column" fxLayoutAlign="space-between center">
            <mat-card-header>
                <mat-card-title>Ainda não é assinante?</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Cadastre-se gratuitamente e descubra como vários de profissionais da área da saúde estão aprimorando seus estudos através do método inovador SimSave.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>Cadastre-se</button>
            </mat-card-actions> 
        </mat-card>
    </div>
    <div class="content-footer">
        <div class="logo-footer" fxLayout="row" fxLayoutAlign="center center">
            <a href="/"><img src="../../../assets/logos/logo-name-mobile@2x.png" alt="Banner"/></a>
        </div>
        
        <div class="social-media" fxLayout="row" fxLayoutAlign="center center">
            <img src="../../../assets/icones/icone-default.png" alt="Social Media">
            <img src="../../../assets/icones/icone-default.png" alt="Social Media">
            <img src="../../../assets/icones/icone-default.png" alt="Social Media">
            <img src="../../../assets/icones/icone-default.png" alt="Social Media">
            <img src="../../../assets/icones/icone-default.png" alt="Social Media">
        </div>
        
        <div class="fale-conosco">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img src="../../../assets/icones/icone-default.png" alt="Contato">
                <p class="fale-conosco-titulo">Fale Conosco</p>
            </div>
            <p class="fale-conosco-conteudo">Dúvida, crítica sugestão ou elogio? Envie um e-mail para suporte@simsave.com.br</p>
        </div>
    </div>
</div>